<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Stray's New Homes</title>
        <base href="/">
      
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
          crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
          crossorigin="anonymous"></script>
      
      </head>

<body>
  <div data-aos="fade-up" data-aos-offset="100" data-aos-delay="120" data-aos-duration="1400" data-aos-easing="ease-in-out">
    <div class="container" style="text-align: center; padding: 15px;">
      <h4>{{cat.breedname}}</h4>
      <a [routerLink]="['/']">Home</a>
      <form (submit)="updateCat()">
        <table>
          <thead>
            <p>Age: {{cat.age}}
            </p>
            <p>Gender: {{cat.gender}}
            </p>
            <p>Comfortable around dogs, cats, or both:
              <input type="text" name="comfortablecatdog" [(ngModel)]="cat.comfortablecatdog">
            </p>
            <p>Comfortable around children:
              <input type="text" name="comfortablekids" [(ngModel)]="cat.comfortablekids">
            </p>
            <p>Is this breed of cat known to have any health issues:
              <input type="text" name="health" [(ngModel)]="cat.health">
            </p>
          </thead>
        </table>
        <input type="submit">
      </form>
    </div>
  </div>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>
</html>