<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Stray's New Homes</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <style>
    * {
      vertical-align: baseline;
      font-weight: inherit;
      font-family: inherit;
      font-style: inherit;
      font-size: 100%;
      border: 0 none;
      outline: 0;
      padding: 0;
      margin: 0;
    }

    .select,
    .ageselect {
      border-radius: 5px;
      background-color: rgba(218, 218, 218, 0.267);
      width: 50%;
    }

    .container {
      text-align: center;
      justify-content: center;
      border: 1px solid black;
      padding: 30px;
    }

    .questiontitle {
      color: orangered;
      margin-top: 60px;
    }

    li {
      background-color: rgba(165, 42, 42, 0.267);
      padding: 5px;
    }
    a {
      color: black;
    }
  </style>
</head>

<body>
  <div class="row" style="background-color: black; color: white; width: auto; padding: 10px;">
    <div class="col">
      <button type="button" style="background-color: transparent; color: white; cursor: pointer;" [routerLink]="['/']">Home</button>
    </div>
    <div class="col">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown"
          style="float: right;">Create A Post
          <span class="caret"></span></button>
        <ul class="dropdown-menu justify-content-center" style="text-align: center; margin: 0; padding: 0;" role="menu"
          aria-labelledby="menu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/dogs/new">Dog</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <h5>Create a Cat post</h5>
    <br>
    <h4>Don't worry if you're unsure of any of this information, just give your best guess. You can always go back and
      edit your post later on.</h4>
    <div class="row justify-content-center align-items-center" style="padding-bottom: 5%;">
      <form (submit)="createCat()">
        <table>
          <thead>
            <p class="questiontitle">Breed Name: </p>
            <select class="select" type="text" name="name" [(ngModel)]="newCat.breedname">
              <option value="unsure" style="text-align: center;">Unsure</option>
              <option value="abyssinian">Abyssinian</option>
              <option value="americanbobtail">American Bobtail</option>
              <option value="americancurl">American Curl</option>
              <option value="americanshorthair">American Shorthair</option>
              <option value="americanwirehair">American Wirehair</option>
              <option value="balinesejavanese">Balinese-Javanese</option>
              <option value="bengal">Bengal</option>
              <option value="birman">Birman</option>
              <option value="bombay">Bombay</option>
              <option value="britishshorthair">British Shorthair</option>
              <option value="burmese">Burmese</option>
              <option value="chartreux">Chartreux</option>
              <option value="cornishrex">Cornish Rex</option>
              <option value="devonrex">Devon Rex</option>
              <option value="egyptianmau">Egyptian Mau</option>
              <option value="europeanburmese">European Burmese</option>
              <option value="exoticshorthair">Exotic Shorthair</option>
              <option value="havanabrown">Havana Brown</option>
              <option value="himalayan">Himalayan</option>
              <option value="japanesebobtail">Japanese Bobtail</option>
              <option value="korat">Korat</option>
              <option value="laperm">LaPerm</option>
              <option value="maincoon">Main Coon</option>
              <option value="manx">Manx</option>
              <option value="norwegianforest">Norwegian Forest</option>
              <option value="ocicat">OciCat</option>
              <option value="oriental">Oriental</option>
              <option value="persian">Persian</option>
              <option value="peterbald">Peterbald</option>
              <option value="pixiebob">Pixiebob</option>
              <option value="ragamuffin">Ragamuffin</option>
              <option value="ragdoll">Ragdoll</option>
              <option value="russianblue">Russian Blue</option>
              <option value="savannah">Savannah</option>
              <option value="scottishfold">Scottish Fold</option>
              <option value="selkirkrex">Selkirk Rex</option>
              <option value="siamese">Siamese</option>
              <option value="siberian">Siberian</option>
              <option value="singapura">Singapura</option>
              <option value="somali">Somali</option>
              <option value="sphynx">Sphynx</option>
              <option value="tonkinese">Tonkinese</option>
              <option value="toyger">Toyger</option>
              <option value="turkishangora">Turkish Angora </option>
              <option value="turkishvan">Turkish Van</option>
            </select>
            <p class="questiontitle">Age: </p>
            <input class="ageselect" type="number" name="age" [(ngModel)]="newCat.age"
              style="width: 50%;">
            <p class="questiontitle">Gender: </p>
            <select class="select" type="text" name="gender" [(ngModel)]="newCat.gender"
              style="width: 50%;">
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="unsure">Unsure</option>
            </select>
            <p class="questiontitle">Comfortable around around other dogs or cats: </p>
            <select class="select" type="text" name="comfortablecatdog" [(ngModel)]="newCat.comfortablecatdog"
              style="width: 50%;">
              <option value="dogs">Dogs</option>
              <option value="cats">Cats</option>
              <option value="both">Both</option>
              <option value="both">Neither</option>
              <option value="unsure">Unsure</option>
            </select>
            <p class="questiontitle">Comfortable around children: </p>
            <select class="select" type="text" name="comfortablekids" [(ngModel)]="newCat.comfortablekids"
              style="width: 50%;">
              <option value="yes">Yes</option>
              <option value="no">No</option>
              <option value="unsure">Unsure</option>
            </select>
            <p class="questiontitle">Is this breed of cat known to have any health issues: </p>
            <select class="select" type="text" name="health" [(ngModel)]="newCat.health"
              style="width: 50%;">
              <option value="yes">Yes</option>
              <option value="no">No</option>
              <option value="unsure">Unsure</option>
            </select>
          </thead>
        </table>
        <input type="submit">
      </form>
    </div>
  </div>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>