<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Stray's New Homes</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <style>
    * {
      vertical-align: baseline;
      font-weight: inherit;
      font-family: inherit;
      font-style: inherit;
      font-size: 100%;
      border: 0 none;
      outline: 0;
      padding: 0;
      margin: 0;
    }

    .select,
    .ageselect {
      border-radius: 5px;
      background-color: rgba(218, 218, 218, 0.267);
      width: 50%;
    }

    .container {
      text-align: center;
      justify-content: center;
      border: 1px solid black;
      padding: 30px;
    }

    .questiontitle {
      color: orangered;
      margin-top: 60px;
    }

    li {
      margin: 10px;
      background-color: rgba(165, 42, 42, 0.336);
      padding: 5px;
      margin: 0;
    }
    a {
      color: black;
    }
  </style>
</head>

<body>
  <div class="row" style="background-color: black; color: white; width: auto; padding: 10px; margin: auto;">
    <div class="col">
      <button type="button" style="background-color: transparent; color: white; cursor: pointer;"
        [routerLink]="['/']">Home</button>
    </div>
    <div class="col">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown"
          style="float: right;">Create A Post
          <span class="caret"></span></button>
        <ul class="dropdown-menu justify-content-center" style="text-align: center; margin: 0; padding: 0;" role="menu"
          aria-labelledby="menu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/cats/new">Cat</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <h5>Create a Dog post</h5>
    <br>
    <h4>Don't worry if you're unsure of any of this information, just give your best guess. You can always go back
      and edit your post later on.</h4>
    <div class="row justify-content-center align-items-center" style="padding-bottom: 5%;">
      <form (submit)="createDog()">
        <table>
          <thead>
            <p class="questiontitle">Breed Name:</p>
            <select class="select" type="text" name="name" [(ngModel)]="newDog.breedname">
              <option value="unsure">Unsure</option>
              <option value="affenpinscher">Affenpinscher</option>
              <option value="afghanhound">Afghan Hound</option>
              <option value="americancurl">American Curl</option>
              <option value="airedaleterrier">Airedale Terrier </option>
              <option value="akita">Akita</option>
              <option value="alaskanmalamute">Alaskan Malamute</option>
              <option value="americanenglishcoonhound">American English Coonhound</option>
              <option value="americaneskimodog">American Eskimo Dog</option>
              <option value="americanfoxhound">American Foxhound</option>
              <option value="americanstafforshireterrier">American Staffordshire Terrier </option>
              <option value="americanwaterspaniel">American Water Spaniel</option>
              <option value="anatolianshepherddog">Anatolian Shepherd Dog</option>
              <option value="australiancattledog">Australian Cattle Dog </option>
              <option value="devonrex">Australian Shepherd</option>
              <option value="australianterrier">Australian Terrier </option>
              <option value="basenji"> Basenji</option>
              <option value="bassethound">Basset Hound</option>
              <option value="beagle">Beagle</option>
              <option value="beardedcollie">Bearded Collie</option>
              <option value="beauceron">Beauceron</option>
              <option value="bedlingtonterrier">Bedlington Terrier</option>
              <option value="belgianmalinois">Belgian Malinois</option>
              <option value="belgiansheepdog"> Belgian Sheepdog</option>
              <option value="belgiantervuren">Belgian Tervuren</option>
              <option value="bergamasco">Bergamasco </option>
              <option value="bergerpicard">Berger Picard</option>
              <option value="bernesemountaindog">Bernese Mountain Dog</option>
              <option value="bichonfrise">Bichon Frise</option>
              <option value="blackandtancoonhound">Black and Tan Coonhound</option>
              <option value="blackrussianterrier">Black Russian Terrier</option>
              <option value="bloodhound">Bloodhound</option>
              <option value="bluetickcoonhound">Bluetick Coonhound</option>
              <option value="boerboel">Boerboel</option>
              <option value="bordercollie">Border Collie</option>
              <option value="borderterrier">Border Terrier</option>
              <option value="borzoi">Borzoi</option>
              <option value="bostonterrier">Boston Terrier</option>
              <option value="bouvierdesflandres">Bouvier des Flandres</option>
              <option value="boxer">Boxer</option>
              <option value="boykinspaniel">Boykin Spaniel</option>
              <option value="briard">Briard</option>
              <option value="brittany">Brittany</option>
              <option value="brusselsgriffon">Brussels Griffon</option>
              <option value="bullterrier">Bull Terrier</option>
              <option value="bulldog">Bulldog</option>
              <option value="bullmastiff">Bullmastiff</option>
              <option value="cairnterrier">Cairn Terrier</option>
              <option value="canaandog">Canaan Dog</option>
              <option value="canecorso">Cane Corso</option>
              <option value="cardiganwelshcorgi">Cardigan Welsh Corgi</option>
              <option value="cavalierkingcharlesspaniel">Cavalier King Charles Spaniel</option>
              <option value="ceskyterrier">Cesky Terrier</option>
              <option value="chesapeakebayretriever">Chesapeake Bay Retriever</option>
              <option value="chihuahua">Chihuahua</option>
              <option value="chinesecrested">Chinese Crested</option>
              <option value="chinesesharpei">Chinese Shar-Pei</option>
              <option value="chinook">Chinook</option>
              <option value="chowchow">Chow Chow</option>
              <option value="cirnecodelletna">Cirneco dell’Etna</option>
              <option value="clumberspaniel">Clumber Spaniel</option>
              <option value="cockerspaniel">Cocker Spaniel</option>
              <option value="collie">Collie</option>
              <option value="corgi">Corgi</option>
              <option value="cotondetulear">Coton de Tulear</option>
              <option value="curlycoatedretriever">Curly-Coated Retriever</option>
              <option value="dachshund">Dachshund</option>
              <option value="dalmatian">Dalmatian</option>
              <option value="dandiedinmontterrier">Dandie Dinmont Terrier</option>
              <option value="dobermanpinscher">Doberman Pinscher</option>
              <option value="doguedebordeaux">Dogue de Bordeaux</option>
              <option value="englishcockerspaniel">English Cocker Spaniel</option>
              <option value="englishfoxhound">English Foxhound</option>
              <option value="englishsetter">English Setter</option>
              <option value="englishspringerspaniel">English Springer Spaniel</option>
              <option value="englishtoyspaniel">English Toy Spaniel</option>
              <option value="entlebuchermountaindog">Entlebucher Mountain Dog</option>
              <option value="fieldspaniel">Field Spaniel</option>
              <option value="finnishlapphund">Finnish Lapphund</option>
              <option value="finnishspitz">Finnish Spitz</option>
              <option value="flatcoatedretriever">Flat-Coated Retriever</option>
              <option value="frenchbulldog">French Bulldog</option>
              <option value="germanpinscher">German Pinscher</option>
              <option value="germanshepherddog">German Shepherd Dog</option>
              <option value="germanshorthaitedpointer">German Shorthaired Pointer</option>
              <option value="germanwirehairedpointer">German Wirehaired Pointer</option>
              <option value="giantschnauzer">Giant Schnauzer</option>
              <option value="glenofimaalterrier">Glen of Imaal Terrier</option>
              <option value="goldenretriever">Golden Retriever</option>
              <option value="gordonsetter">Gordon Setter</option>
              <option value="greatdane">Great Dane</option>
              <option value="greatpyrenees">Great Pyrenees</option>
              <option value="greaterswissmountaindog">Greater Swiss Mountain Dog</option>
              <option value="greyhound">Greyhound</option>
              <option value="harrier">Harrier</option>
              <option value="havanese">Havanese</option>
              <option value="ibizanhound">Ibizan Hound</option>
              <option value="icelandicsheepdog">Icelandic Sheepdog</option>
              <option value="irishredandwhitesetter">Irish Red and White Setter</option>
              <option value="irishsetter">Irish Setter</option>
              <option value="irishterrier">Irish Terrier</option>
              <option value="irishwaterspaniel">Irish Water Spaniel</option>
              <option value="irishwolfhound">Irish Wolfhound</option>
              <option value="italiangreyhound">Italian Greyhound</option>
              <option value="japanesechin">Japanese Chin</option>
              <option value="keeshond">Keeshond</option>
              <option value="kerryblueterrier">Kerry Blue Terrier</option>
              <option value="komondor">Komondor</option>
              <option value="kuvasz">Kuvasz</option>
              <option value="labradorretriever">Labrador Retriever</option>
              <option value="lagattoromagnolo">Lagotto Romagnolo</option>
              <option value="lakelandterrier">Lakeland Terrier</option>
              <option value="leonberger">Leonberger</option>
              <option value="lhasaapso">Lhasa Apso</option>
              <option value="lowchen">Löwchen</option>
              <option value="maltese">Maltese</option>
              <option value="manchesterterrier">Manchester Terrier</option>
              <option value="mastiff">Mastiff</option>
              <option value="miniatureamericanshepherd">Miniature American Shepherd</option>
              <option value="miniaturebullterrier">Miniature Bull Terrier</option>
              <option value="miniaturepinscher">Miniature Pinscher</option>
              <option value="miniatureschnauzer">Miniature Schnauzer</option>
              <option value="neapolitanmastiff">Neapolitan Mastiff</option>
              <option value="newfoundland">Newfoundland</option>
              <option value="norfoldterrier">Norfolk Terrier</option>
              <option value="norwegianbuhund">Norwegian Buhund</option>
              <option value="norwegianelkhound">Norwegian Elkhound</option>
              <option value="norwegianlundehund">Norwegian Lundehund</option>
              <option value="norwichterrier">Norwich Terrier</option>
              <option value="novascotiaducktollingretriever">Nova Scotia Duck Tolling Retriever</option>
              <option value="oldenglishsheepdog">Old English Sheepdog</option>
              <option value="otterhound">Otterhound</option>
              <option value="papillon">Papillon</option>
              <option value="parsonrussellterrier">Parson Russell Terrier</option>
              <option value="pekingese">Pekingese</option>
              <option value="petitbassetgriffonvendeen">Petit Basset Griffon Vendéen</option>
              <option value="pharaohhound">Pharaoh Hound</option>
              <option value="plott">Plott</option>
              <option value="pointer">Pointer</option>
              <option value="polishlowlandsheepdog">Polish Lowland Sheepdog</option>
              <option value="pomeranian">Pomeranian</option>
              <option value="poodle">Poodle</option>
              <option value="portugesepodengopequeno">Portuguese Podengo Pequeno</option>
              <option value="portugesewaterdog">Portuguese Water Dog</option>
              <option value="pug">Pug</option>
              <option value="puli">Puli</option>
              <option value="pyreneanshepherd">Pyrenean Shepherd</option>
              <option value="ratterrier">Rat Terrier</option>
              <option value="redbonecoonhound">Redbone Coonhound</option>
              <option value="rhodesianridgeback">Rhodesian Ridgeback</option>
              <option value="rottweiler">Rottweiler</option>
              <option value="russellterrier">Russell Terrier</option>
              <option value="saintbernard">Saint Bernard</option>
              <option value="saluki">Saluki</option>
              <option value="samoyed">Samoyed</option>
              <option value="schipperks">Schipperke</option>
              <option value="scottishdeerhound">Scottish Deerhound</option>
              <option value="scottishterrier">Scottish Terrier</option>
              <option value="sealyhamterrier">Sealyham Terrier</option>
              <option value="shetlandsheepdoh">Shetland Sheepdog</option>
              <option value="shibainu">Shiba Inu</option>
              <option value="shihtzu">Shih Tzu</option>
              <option value="siberianhusky">Siberian Husky</option>
              <option value="silkyterrier">Silky Terrier</option>
              <option value="skyeterrier">Skye Terrier</option>
              <option value="softcoatedwheatenterrier">Soft Coated Wheaten Terrier</option>
              <option value="spanishwaterdog">Spanish Water Dog</option>
              <option value="spinoneitaliano">Spinone Italiano</option>
              <option value="staffordshirebullterrier">Staffordshire Bull Terrier</option>
              <option value="standardschnauzer">Standard Schnauzer</option>
              <option value="sussexspaniel">Sussex Spaniel</option>
              <option value="swedishvallhund">Swedish Vallhund</option>
              <option value="tibetianmastiff">Tibetan Mastiff</option>
              <option value="tibetanspaniel">Tibetan Spaniel</option>
              <option value="tibetanterrier">Tibetan Terrier</option>
              <option value="toyfoxterrier">Toy Fox Terrier</option>
              <option value="treeingwalkercoonhound">Treeing Walker Coonhound</option>
              <option value="vizsla">Vizsla</option>
              <option value="weimaraner">Weimaraner</option>
              <option value="welshspringerspaniel">Welsh Springer Spaniel</option>
              <option value="welshterrier">Welsh Terrier</option>
              <option value="westhighlandwhiteterrier">West Highland White Terrier</option>
              <option value="whippet">Whippet</option>
              <option value="wirefoxterrier">Wire Fox Terrier</option>
              <option value="wirehairedpointinggriffon">Wirehaired Pointing Griffon</option>
              <option value="wirehairedvizsla">Wirehaired Vizsla</option>
              <option value="xoloitzcuintli">Xoloitzcuintli</option>
              <option value="yorkshireterrier">Yorkshire Terrier</option>
            </select>
            <p class="questiontitle">Age: </p>
            <input class="ageselect" type="number" name="age" [(ngModel)]="newDog.age" style="width: 50%;">
            <p class="questiontitle">Gender: </p>
            <select class="select" type="text" name="gender" [(ngModel)]="newDog.gender" style="width: 50%;">
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="unsure">Unsure</option>
            </select>
            <p class="questiontitle">Comfortable around dogs, cats, both or neither: </p>
            <select class="select" type="text" name="comfortablecatdog" [(ngModel)]="newDog.comfortablecatdog"
              style="width: 50%;">
              <option value="dogs">Dogs</option>
              <option value="cats">Cats</option>
              <option value="both">Both</option>
              <option value="both">Neither</option>
              <option value="unsure">Unsure</option>
            </select>
            <p class="questiontitle">Comfortable around children: </p>
            <select class="select" type="text" name="comfortablekids" [(ngModel)]="newDog.comfortablekids"
              style="width: 50%;">
              <option value="yes">Yes</option>
              <option value="no">No</option>
              <option value="unsure">Unsure</option>
            </select>
            <p class="questiontitle">Is this breed of dog known to have any health issues: </p>
            <select class="select" type="text" name="health" [(ngModel)]="newDog.health" style="width: 50%;">
              <option value="yes">Yes</option>
              <option value="no">No</option>
              <option value="unsure">Unsure</option>
            </select>
          </thead>
        </table>
        <input type="submit">
      </form>
    </div>
  </div>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>
<!-- [disabled]="newQuestion.name.length < 3 || newQuestion.age.length < 3 || newQuestion.sex.length < 3 || newQuestion.comfortablecatdog.length < 3 || newQuestion.comfortablekids.length < 3 || newQuestion.health.length < 3" -->